@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 768px;
    font-family: 'Inter', sans-serif;
    margin: 1em auto;
    border: #D1D5DB 1px solid;
    border-radius: 0.5em;
    box-shadow: black 0px 0px 10px;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}